.AdminPage{
    padding: 1rem;
    font-family: sans-serif;
}

.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subrow1-admin{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.noaccess{
    height: 100vh;
    max-height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}