.areatile{
    width: 392px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
}

.tileimg{
    width: 392px;
    height: 260px;
}

.areatitle{
text-align: start;
padding: 2rem 2rem;
font-size: 1.8rem;
color: white;
width: 240px;
}
.areatile:hover{
    filter: grayscale(100%);
}
