.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33333336;
    color: #fff;
    font-size: 18px;
    padding: 10px;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #f4f4f4;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  }
  