@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');

.about-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 125px;
}

@media only screen and (max-width:1200px) {
    .about-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
}

.b1{
    width: 40%;
}
.b2{
    width: 50%;
  
}

.a-image{
   margin-top: 114px;
width: 465px;
height: 500px;
left: 108px;
top: 570px;
border-radius: 26px;
}

@media only screen and (max-width: 850px) {
    .a-image{
        margin-top: 114px;
        width: 405px;
        height: 370px;
        margin-left: -81px;
       
        border-radius: 26px;
        }

        .a-head{
            margin-top: 100px;;
        }
    }
    
    
@media only screen and (max-width: 400px) {
    .a-image{
        
        width: 331px;
        height: 310px;
        margin-left: -91px;
       
        border-radius: 26px;
        }

        
    }
    


.a-head{
    margin-top: 180px;
    margin-bottom: 0px;
font-family: 'EB Garamond', serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 130%;

color: #17181E;
}
.a-text{
   
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px; 
    text-align: justify;
    color: #111111;
    padding-bottom: 20px;
}