@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');


.About-box{
    display:flex;
    flex-direction: row;
    padding:3rem;
 


}

@media only screen and (max-width: 1144px) 
{
    .About-box{
        display: flex;
        flex-direction: column;
    }
}


.text-box{
    margin-left: 60px;
}


@media only screen and (max-width: 700px) 
{
    
.text-box{
    margin-left: 10px;
   
}

}
.A-head{
    font-family: 'EB Garamond', serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 130%;

color: #17181E;
}
.A-text{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px; 
    text-align: justify;
    color: #111111;
}

.image{
    height:500px;
    width:500px;
    border-radius: 0.5rem;
    object-fit: cover;
}

@media only screen and (max-width: 700px) 
{
    
.image{
    margin-left: 10px;
   
}
}
@media only screen and (max-width: 572px) 
{
.image{
    height: 250px;
    width: 300px;
    object-fit: cover;
}
}
