@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');




.b-head{

    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    padding : 30px 0 30px 70px;
}

.b-cards{
    /* cursor: pointer; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10rem;
    margin-right: 10rem;
    /* padding-bottom: 10rem; */
    justify-content: center;
    row-gap: 15rem;
    column-gap: 3rem;
    margin-bottom: 15rem;
    /* margin-top: 2rem; */
    /* margin-bottom: 12rem; */
}

.b-card-single{
    cursor: pointer;
}

/* .b-cards:hover{
    transform: scale(1.02);
    transition: 0.4s;
} */

.b-card-single:hover{
transform: scale(1.02);
transition: 0.4s;
}
@media only screen and (max-width:1200px) {
    .b-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12rem;
        margin-top: 5rem;
        padding: 2rem;
        justify-content: space-evenly;
        margin-bottom: 12rem;
    }
    
}