@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap");

/* footer container */
.f-container {
  position: sticky;
  /* width: 100%;
    height: 620px; */
  background: #ffffff;
  max-width: 100%;
}
/*footer box*/
.f-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  width: 100vw;
  max-width: 100%;
  
}
@media (width < 1100px) {
  .f-box {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width: 25%;
    margin-left: 30%;
  }
}

/*footer row*/
.f-row {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*media query footer row*/
@media (width < 1100px) {
  .f-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .f-last {
    margin-bottom: -60px;

    margin-left: auto;
    margin-right: auto;
  }
}

.f-last {
  padding: 2rem;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
/*footer image */
.f-image {
  width: 90px;
  height: 90px;
  margin-top: 215px;
}

@media only screen and (max-width: 1100px) {
  .f-image {
    margin-top: 35px;
    margin-bottom: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* footer head */
.f-head {
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  margin-top: 100px;
  margin-left: 10px;
}

@media only screen and (max-width: 1100px) {
  .f-head {
    margin-top: 0px;
    margin-left: 15px;
  }
}

/*footer list*/
.f-list {
  margin-right: -0px;
  list-style-type: none;
  margin-top: -20px;
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

/* Map*/
.f-map {
  width: 200px;
  height: 114px;
  border-radius: 10px;
}

/* socials*/

.socials {
  margin-top: 7px;
  margin-left: -5px;
}
.s-l {
  padding: 5px;
}
