.team-body {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding: 80px 108px 80px 120px;
}

@media only screen and (max-width: 600px) {
    .team-body{
        
        display: flex;
        flex-direction: column;
        padding: 34px 16px 34px 16px;

        
    }
    
}

@media only screen and (min-width: 800px){
  #team2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  #text2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
}

.t-image {
  height: 500px;
  width: 465px;
  left: 0px;
  top: 0px;
  border-radius: 26px;
  margin: 0px 32px;
}

@media only screen and (max-width: 600px) {
    .t-image {
        height: 280px;
        width: 281px;
      }
    
}
.left-part {
  display: flex;
  flex-direction: column;
}

.contact-details {
  background: #ffaf00;
  width: 465px;
  height: 53px;
  left: 0px;
  top: 447px;
  margin: -57px 32px;
  border-radius: 0px 0px 26px 26px;
  text-align: center;
}

.contact-details p {
    font-family: Helvetica;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: justified;
    margin: 10px 0px;
  }


@media only screen and (max-width: 600px) {
    .contact-details {
        width: 281px;
        height: 53px;
        margin: -57px 32px;
        border-radius: 0px 0px 26px 26px;
        text-align: center;
      }

      .contact-details p {
        font-family: Helvetica;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: justified;
        margin: 10px 0px;
      }
    
}



.right-part {
  margin: 0px 32px;
}

.t-head {
  font-family: Garamond-Bold;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 0px;
}

@media only screen and (max-width: 600px) {
    .t-head {
        font-size: 28px;
        margin: 70px 0px 0px 0px;
      }
      .t-designation {
        font-size: 20px;
      }
    
}
.t-designation {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  color: #17181e;
  margin: 5px 0px 0px 0px;
}

.t-text {
  margin: 32px 0px;
  
  
  text-align: justify;
  
}


.read-more{
  text-decoration: underline;
}