.carousel-slider{
    overflow-x: hidden;
    display: flex;
    gap: 5rem;
overflow-y: hidden;
}

.arrows{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top:-160px;
}
@media only screen and (max-width: 600px) {
    .arrows{
        margin-top: -260px;
    }
}

.arrows2{
   
    margin-top:-160px;
}
@media only screen and (max-width: 600px) {
    .arrows2{
        margin-top: -260px;
    }
}

.change-slide{
    height: 3rem;
    margin-left: auto;
}
@media only screen and (max-width: 700px) {
    .carousel-slider{
        overflow-x: hidden;
        display: flex;
        gap: 0.2rem;
    overflow-y: hidden;
    } 
}
@media only screen and (min-width : 800px) {
    .carousel-card-cont{
        height: 50vh;
    }
}

/* carousel-card-cont */